---
import Layout from "../layouts/Layout.astro";

import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { BLOCKS } from "@contentful/rich-text-types";

const entries = await contentfulClient.getEntries<any>({
  content_type: "landingPage",
});

const options = {
  renderNode: {
    [BLOCKS.HEADING_6]: (node: any, next: any) => `<h6 style="color: #0349F7;
    font-family: 'Brother', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0.05em;">${next(node.content)}</h6>`,
    [BLOCKS.PARAGRAPH]: (node: any, next: any) => `<h6 style="
    font-family: 'Brother', sans-serif;
    font-size: 18px;
    line-height: 25px;
    width: 34.20vw; 
    max-width: 591px;
    ">${next(node.content)}</h6>`,
    [BLOCKS.TABLE]: (node: any, next: any) =>
      `<div style="display: flex; width:100vw;"><table style="table-layout:fixed;">${next(
        node.content
      )}</table></div>`,
    [BLOCKS.TABLE_CELL]: (node: any, next: any) =>
      `<td style="">${next(
        node.content
      )}</td>`,
      
  },
};
---

<Layout title="Welcome to Astro.">
  <body>
    <section
      id="adventure"
      set:html={documentToHtmlString(entries.items[0].fields.test, options)}
    />
  </body>
</Layout>

<style>
    #adventure {
        margin-left: 233px;
        margin-right: 198px;
    }
</style>
