---
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.svelte";
import { contentfulClient } from "../lib/contentful";

const entries = await contentfulClient.getEntries<any>({
  content_type: "adventureLocation",
});

const adventureLocation = entries.items[0].fields.adventureLocation;

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header adventureLocation={adventureLocation} client:load />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  @font-face {
    font-family: "Thunderhouse";
    src: url("/fonts/thunderhouse.woff2") format("woff2"),
      url("/fonts/thunderhouse.woff") format("woff");
  }
  @font-face {
    font-family: "Brother";
    src: url("/fonts/brother.woff2") format("woff2"),
      url("/fonts/brother.woff") format("woff");
  }
  h1 {
    font-family: "Thunderhouse", Fallback, sans-serif;
  }
  p {
    
  }
  button {
    font-family: 'Brother', Fallback, sans-serif;
    letter-spacing: 0.05em;
    font-size: 9px;
    line-height: 10.8px;
    color: white;
    background-color: black;
    border: 0px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 16px;
  }

  p {
    font-family: 'Brother', Fallback, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
  }
  h2 {
    font-family: "Brother", Fallback, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #0349f7;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  section {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
  }


  @media (min-width: 1024px) {
    button {
      padding-top: 14px;
      padding-bottom: 15px;
      padding-left: 38px;
      padding-right: 39px;
      font-size: 14px;
      line-height: 16.8px;
    }
    p {
      font-size: 18px;
      line-height: 25px;
    }
    h2 {
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 15px;
    }
  }
</style>
